doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title color-wall
		link(rel="preload", href="~/index.js", as="script")
		link(rel="preload", href="~/scss/main.scss", as="style")
		link(rel="stylesheet", href="~/scss/main.scss")
	body
		div#cell-wrapper
		script(src="~/index.js", defer)
