label {
	width: 100%;

	input {
		&[type="color"] {
			--width: 4rem;

			border: 1px solid #000;
			border-radius: 100%;
			cursor: pointer;
			height: var(--width);
			overflow: hidden;
			width: var(--width);
		}

		&:not([type="checkbox"],[type="color"]) {
			width: 100%;
		}
	}
}
