@import "~/scss/reset";
@import "~/scss/forms";

html,
body {
	height: 100vh;
	width: 100vw;
}

a,
input,
textarea,
select,
button {
	&:focus,
	&:active {
		outline-offset: 0.25rem;
		outline: 0.3rem solid #09f;
	}
}
